:root {
    --main-color: #031528; /* Primary color */
    --text-color: #ffffff; /* Text color */
    --background-color: #140642; /* Background color */
    --nav-item-bg-color: #d518b2;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Example CSS file: styles.css */

/* Common styles for all pages */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); /* Scrollbar color and track color */
}





.site-header-nav-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Spread header and nav to occupy the full width */
}

.site-header {
    margin: 0;
    flex-grow: 1; /* Allows header to grow and use available space */
}

.site-header h1 {
    display: inline-flex; /* Keeps the H1 inline but allows flex properties */
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}


@keyframes shiftColorStrip {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: -200% 50%;
    }
  }
  
  .animated-background-home {
    animation: shiftColorStrip 10s infinite linear;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, 
                                      var(--nav-item-bg-color) 0%, 
                                      #140642 50%, 
                                      var(--nav-item-bg-color) 100%);
  }

    .animated-background-about {
        animation: shiftColorStrip 10s infinite linear;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, 
                                        #243547 0%, 
                                        #140642 50%, 
                                        #243547 100%);
    }

    .animated-background-projects {
        animation: shiftColorStrip 10s infinite linear;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, 
                                        #000000 0%, 
                                        #920000 50%, 
                                        #000000 100%);
    }

    .animated-background-contact {
        animation: shiftColorStrip 10s infinite linear;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, 
                                        #964609 0%, 
                                        #140642 50%, 
                                        #964609 100%);
    }



/* Ensuring the background covers the whole page */
.bg-home, .bg-about, .bg-contact, .bg-projects {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}




/* Unique Backgrounds */
.bg-home {
    background-image: url('../chillin.gif');
}

#master-nav a {
    text-decoration: none;
    color: black; /* Default color */
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#master-nav {
    flex-grow: 2; /* Gives nav more room to expand, adjust as needed */
}

#master-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: left 20px; /* Removes default margin */
    justify-content: right
}

#master-nav li {
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
}


/* Hover effect */
#master-nav li:hover {
    color:  black; /* Text color changes to white on hover */
    background-color: var(--nav-item-bg-color);
    padding: 5px 10px; /* Optional: Adds padding to make the link appear larger */
    border-radius: 5px; /* Optional: Adds rounded corners to the background */
}

/* Active link styling (optional) */
#master-nav a:active {
    background-color: #8b0000; /* A darker shade of red to indicate the link is being clicked */
}

#home-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    font-size: min(max(14px, 1vw), 24px);
    font-weight:900;
    background-color: #d518b2a9;
    position: fixed;
    bottom: 5%;
}


@media (max-width: 768px) {
    .bg-home {
        background-image: url('../alt-gif6.gif');
}
}





.bg-about {
    background-image: url('../hardwork.gif');
}

@media (max-width: 768px) {
    .bg-about {
        background-image: url('../alt-gif2.gif');
        background-position: center top 100px;
    }
}

#careers {
    height: 100vh; /* Adjust height as necessary */
    overflow-y: auto; /* Enables vertical scrolling */
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); /* Scrollbar color and track color */
    padding-top: 60px; /* Adjust based on the height of your fixed header */
    box-sizing: border-box;
    gap: 20px; /* Adjust the space between sections */
}

#careers header {
    text-align: center;
    margin-bottom: 20px;
}

#careers h4 {
    display: block;
}

#careers div {
    display: block;
    justify-content: center;
    flex-wrap: wrap;/* Adjust the space between sections */
}

#careers sub {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #243547;
    opacity: .75;
}

#careers li {
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

#careers a {
    color: white;
    text-decoration: none;
}


.career {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Adjust spacing as needed */
    padding: 10px; /* Adds some space around the text */
    border-radius: 5px; /* Optional: Rounds the corners of the list item background */
    background-color: transparent;
    color: white; /* Default text color */
    }







.bg-contact {
    background-image: url('../background.gif');
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); /* Scrollbar color and track color */
}



.site-header-nav-container, #socials {
    margin: 0;
    padding: 0;
}


.site-header, nav, .socials-subs {
    background-color: transparent;
}


#socials {
    display: flex;
    flex: 0 1.5 auto;
    gap: 30px; /* Adjusts the space between social sub-containers */
    background-color: transparent;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    flex-direction: row;
    overflow-y: auto; /* Allows horizontal scrolling */
    padding: 20px 0; /* Adds some vertical padding for breathing space */
}


.socials-subs {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #964609;
    opacity: .75;
    border-radius: 50%; /* Makes the div a perfect circle */
    overflow: hidden; /* Ensures nothing spills outside the circle */
    width: 225px; /* Ensures circles don't become too small */
    height: 225px; /* Matches min-width for circle shape */
}



.socials-subs header {
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent;
}

.socials-subs a {
    color: white;
    text-decoration: none;
}

.socials-image {
    width: auto; /* Adjust as needed */
    height: auto; /* Ensures images cover the area without stretching */
}

.bored {
    justify-content: center;
    gap: 20px; /* Adjust the space between sections */
    overflow-x: auto;
}

.bored-sub  {
    text-align: center;
    display: inline-flex;
    gap:30px;
}

.bored-sub a {
    color: white;
    text-decoration: none;
}

/* Modal basic styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

:target {
    display: block;
}

footer {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    width: 100%; /* Ensures the footer spans the full width of the viewport */
    background-color: transparent;
    transition: background-color 0.3s ease-in-out; /* Smooth transition effect */
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0; /* Ensures the footer starts from the left edge of the viewport */
}


.socials-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .site-header, nav ul {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .bg-contact {
        background-image: url('../alt-gif.gif');
        background-position: center top 100px;
    }
    #socials {
        flex-direction: column; /* Stack children vertically */
        overflow-x: hidden; /* Disable horizontal scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
        align-items: center; /* Ensure circles are centered in this mode */
        min-height: 0; /* Override if necessary for smaller screens */
        height: auto; /* Adjust height based on content */
        gap: 0px;
    }
    .socials-subs {
        width: 150px; /* Adjust minimum size for visibility */
        height: 150px; /* Keep square for circle shape */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        padding: 10px;
        margin: 10px;
    }
    .socials-image {
      display: none;
    }
    .bored {
        display: none;
    }

}

@media (max-width: 600px) {
    #socials, .bored {
        flex-direction: column;
    }
}








.bg-projects {
    
    background-image: url('../desktop.gif');
}   


#projects {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping to ensure horizontal scrolling */
    overflow-x: auto; /* Enables horizontal scrolling */
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); /* Scrollbar color and track color */
    gap: 20px; /* Adjust as needed */
    justify-content: center;
    margin-left: 20%; /* Adjust based on your design */
    height: 250px;
    background-color: rgba(0, 0, 0, 0.568);
}

.project {
    display: block;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

#Challenges {
    overflow-x: auto;
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); /* Scrollbar color and track color */
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Adjust based on your content */
    margin-left: 20%; /* Adjust based on your design */
    background-color: rgba(0, 0, 0, 0.568);
}


.challenge {
    flex: 0 0 auto; /* Prevents projects from shrinking; they maintain their set size */
    width: 200px; /* Or set to desired width */
}

/* Assuming you want to initially hide the images */
.project img, .challenge img {
    display: none;
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains aspect ratio */
}

/* Hover effect on the .project container */
.project:hover img, .challenge:hover img {
    display: block; /* Show the image */
    transform: scale(1); /* Reset any transformations if needed */
}

/* Enhancing the hover effect */
.project:hover, .challenge:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
    transform: scale(1.25); /* Optionally increase size on hover */
}


@media (max-width: 768px) {
    .bg-projects {
        background-image: url('../alt-gif3.gif');
        background-position: center top 100px;
    }
    
    #projects .project {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .site-header, nav ul {
        flex-direction: column;
    }
    
    #projects .project {
        flex-direction: column;
    }
}

@media (max-width: 600px) { /* Adjust based on your needs */
    #projects {
        justify-content: flex-start; /* Aligns children to the start */
    }
    .project {
        flex: 0 0 auto; /* Ensures projects do not shrink */
        width: 50%; /* Adjust based on your design */
    }
}
